/* ==========================================================================
   Base - Global Styles Contract
   ==========================================================================
   Призначення:
   - задає базові стилі для всього застосунку;
   - визначає фон сторінки;
   - встановлює глобальний шрифт і базовий колір тексту.
   ========================================================================== */

/* 1. Body */
body {
    background-color: #F2F5FF;
    font-family: "Inter", sans-serif;
    color: rgb(255, 255, 255);
}